<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form>
  <label>Student Name: </label>
  <input type = "text" name = "name"><br><br>
  <label>ID: </label>
  <input type="number" name="id">
  <label>Email: </label>
  <input type="email" name="email"><br><br>
  <label>Message: </label>
  <label>Password: </label>
  <input type="password" name="password">
  <textarea name="message"></textarea><br><br>
  <button type="submit">submit</button>

</form>
</body>
</html>